@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --font-base: Montserrat;
  --font-alt: "Open Sans", sans-serif;

  --color-golden: #dcca87;
  --color-golden-alt: #d58e24;
  --color-black: #0c0c0c;
  --color-gray: #545454;
  --color-crimson: #f5efdb;
  --color-grey: #aaaaaa;
  --color-white: #ffffff;
  --transition: all 0.28s linear;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Montserrat;
  text-decoration: none;
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
  transition: var(--transition);
}
button {
  border-radius: 0.35rem !important;
}
button:hover {
  color: var(--color-white);
  background: var(--color-golden-alt);
}
.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

html {
  overflow-x: hidden;
}
body{
  background: var(--color-black);
}
::-webkit-scrollbar {
  width: 0.687rem;
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  transition: var(--transition);
  background: var(--color-grey);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-golden-alt);
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media screen and (max-width: 1050px) {
  body {
    overflow: hidden;
  }
}
